node_modules/
dist/
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
jest-integration-config.js
jest-unit-config.js
jest-config.js
.env
data/
.env.example
appspec.yml
api.rest
docker-compose.yml
yarn.lock
README.md
swc-jest.mdTODOS.md
tsconfig.build.json
test/
build/
scripts/